<launch>
	<!-- Xbot -->
	<arg name="simulation"        default="false"   doc="set flags to indicate this turtle is run in simulation mode."/>
	<arg name="serialport"        default="/dev/xbot"  doc="used by create to configure the port it is connected on [/dev/ttyUSB0, /dev/ttyS0]"/>

	<param name="/use_sim_time" value="$(arg simulation)"/>



	<!-- Load the URDF/Xacro model of our robot -->


	<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find xbot_bringup)/urdf/Xbot.urdf.xacro'" />
	<param name="robot_description" command="$(arg urdf_file)" />

	<!-- state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
	<param name="publish_frequency" type="double" value="20.0" />
	</node>

	<!-- xbot driver -->
	<include file="$(find xbot_bringup)/launch/includes/xbot.launch.xml">
	<arg name="serialport" value="$(arg serialport)" />
	<param name="sim" value="true"/>
	</include>



	<!--sensor asus depth camera-->
	<include file="$(find xbot_bringup)/launch/includes/sensor.launch">
	<arg name="rgb_processing" default="false" />
	<arg name="depth_registration" default="false" />
	<arg name="depth_processing" default="false" />
	<arg name="scan_topic" default="/asus_scan" />
	<arg name = "3d_sensor" value = "asus_xtion_pro"/>
	</include>

	<arg name="asus_topic" value="/asus_scan" />

	<node pkg="rplidar_python" type="rplidar_scan.py" name="rplidar" output="screen" respawn="true">
		<param name="frame_id" value="laser" />
		<param name="range_min" value="0.15"/>
		<param name="range_max" value="6.0"/>
		<param name="scan_topic" value="/rplidar_scan" />
	</node>

	<!-- Laserscan topic -->
	<arg name="scan_processing" default="true"/>
	<arg name="scan_height"      default="200"/>
	<!-- Factory-calibrated depth registration -->
	<arg name="camera"      default="camera"/>
	<!--Laserscan-->
	<group if="$(arg scan_processing)">
		<node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet $(arg camera)/$(arg camera)_nodelet_manager">
			<param name="scan_height" value="$(arg scan_height)" />
			<param name="output_frame_id" value="/$(arg camera)_depth_frame"/>
			<param name="range_min" value="0.2"/>
			<remap from="image" to="$(arg camera)/depth_registered/image_raw"/>
			<remap from="scan" to="$(arg asus_topic)"/>
			<remap from="$(arg camera)/image" to="$(arg camera)/depth_registered/image_raw"/>
			<remap from="$(arg camera)/scan" to="$(arg asus_topic)"/>
		</node>
	</group>

	<include file="$(find nav_staff)/launch/xml/data_fusion.launch.xml">
		<arg name = 'use_rplidar_topic'      value = '/rplidar_scan' />
		<arg name = 'use_asus_topic'         value = '/asus_scan' />
		<arg name = 'scan_topic'             value = '/scan' />

		<arg name = 'target_frame'           value= 'laser' />
		<arg name = 'source_frame'           value= 'camera_depth_frame' />
		<arg name = 'fusion_data_frame'      value= 'global_scan' />

		<arg name = 'PublishFrequency'       value= '0.016' />
		<arg name = 'asus_max_range'         value= '4.0' />
	</include>


</launch>
