<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Load the URDF/Xacro model of our robot -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find xbot)/urdf/Xbot.urdf'" />
   
  <param name="robot_description" command="$(arg urdf_file)" />
    
  <node name="myxbot" pkg="xbot" type="chai_xbot" output="screen" clear_params="true">
        <!--rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/-->
        <param name="sim" value="true"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>
  
</launch>
